<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JP Propiedades | Alquilar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../img/favicon.jpg">
</head>
<body>
    <header>
      <nav class="menu">    
        <a class="menu__logo" href="../index.html"><img src="../img/logo.JPG" alt="Imagen del logo Juan Pablo Propiedades" width="100%">
        </a>
        <div class="navbar navbar-expand-md bg-light navbar-dark bg-dark">
          <div class="container">
            <button class="navbar-toggler rounded mx-auto " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav fs-2">
                <li class="nav-item mx-3">
                  <a class="nav-link text-center" aria-current="page" href="../index.html">Home</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link text-center" href="./comprar.html">Comprar</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link text-center" href="./vender.html">Vender</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link active text-center" href="./alquilar.html">Alquilar</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link text-center" href="./contacto.html">Contacto</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
        <h1>Propiedades en Alquiler</h1>
        <section class="container">
          <div class="row justify-content-center">
            <div class="col-auto propiedad__item">
              <div class="card text-center text-bg-light border-secondary mb-3" style="width: 30rem; height: 48rem;">
                <img src="../img/casa-alquiler1.jpg" class="card-img-top" alt="Imagen de casa.">
                <div class="card-body">
                  <h2 class="card-title">Casa en alquiler en country Las Bases</h2>
                  <p class="card-text" >Propiedad y amplio parque con piscina.</p>
                </div>
                <div class="card-footer">
                  <p class="text-muted">Alquiler mensual $85.000.-</p>
                </div>
              </div>
            </div>
            <div class="col-auto propiedad__item">
              <div class="card text-center text-bg-light border-secondary mb-3" style="width: 30rem; height: 48rem;">
                <img src="../img/casa-alquiler2.jpg" class="card-img-top" alt="Imagen de casa.">
                <div class="card-body">
                  <h2 class="card-title">Casa en alquiler en Haedo</h2>
                  <p class="card-text" >Propiedad ubicada en el centro de Haedo. La misma cuenta con 2 dormitorios, 2 baños y quincho.</p>
                </div>
                <div class="card-footer">
                <p class="text-muted">Alquiler mensual $50.000.-</p>
                </div>
              </div>
            </div>
            <div class="col-auto propiedad__item">
              <div class="card text-center text-bg-light border-secondary mb-3" style="width: 30rem; height: 48rem;">
                <img src="../img/casa-alquiler3.jpg" class="card-img-top" alt="Imagen de casa.">
                <div class="card-body">
                  <h2 class="card-title">Casa en alquiler en Ramos Mejía</h2>
                  <p class="card-text" >Propiedad ubicada a metros de la estación de tren. Cuenta con 2 dormitorios, 1 baño y balcón con parrilla.</p>
                </div>
                <div class="card-footer">
                  <p class="text-muted">Alquiler mensual $75.000.-</p>
                </div>
              </div>
            </div>
            <div class="col-auto propiedad__item">
              <div class="card text-center text-bg-light border-secondary mb-3" style="width: 30rem; height: 48rem;">
                <img src="../img/casa-alquiler4.jpg" class="card-img-top" alt="Imagen de casa.">
                <div class="card-body">
                  <h2 class="card-title">Departamento en alquiler en Ramos Mejía</h2>
                  <p class="card-text" >Departamento 2 ambientes, 1 baño.</p>
                </div>
                <div class="card-footer">
                  <p class="text-muted">Alquiler mensual $42.000.-</p>
                </div>
              </div>
            </div>
            <div class="col-auto propiedad__item">
              <div class="card text-center text-bg-light border-secondary mb-3" style="width: 30rem; height: 48rem;">
                <img src="../img/casa-alquiler5.jpg" class="card-img-top" alt="Imagen de casa.">
                <div class="card-body">
                  <h2 class="card-title">Departamento con cochera en alquiler en Haedo</h2>
                  <p class="card-text" >Departamento con cochera. 3 ambientes, 2 baños, balcón con parrilla.</p>
                </div>
                <div class="card-footer">
                  <p class="text-muted">Alquiler mensual $63.500.-</p>
                </div>
              </div>
            </div>
            <div class="col-auto propiedad__item">
              <div class="card text-center text-bg-light border-secondary mb-3" style="width: 30rem; height: 48rem;">
                <img src="../img/casa-alquiler6.jpg" class="card-img-top" alt="Imagen de casa.">
                <div class="card-body">
                  <h2 class="card-title">Departamento en alquiler en San Justo</h2>
                  <p class="card-text" >Departamento ubicada a metros de la plaza. 2 ambientes. El edificio cuenta con sum y gimnasio.</p>
                </div>
                <div class="card-footer">
                  <p class="text-muted">Alquiler mensual $45.500.-</p>
                </div>
              </div>
            </div>
            <div class="col-auto propiedad__item">
              <div class="card text-center text-bg-light border-secondary mb-3" style="width: 30rem; height: 48rem;">
                <img src="../img/casa-alquiler2.jpg" class="card-img-top" alt="Imagen de casa.">
                <div class="card-body">
                  <h2 class="card-title">Departamento en alquiler en Ramos Mejía</h2>
                  <p class="card-text" >Departamento 2 ambientes, 1 baño.</p>
                </div>
                <div class="card-footer">
                  <p class="text-muted">Alquiler mensual $37.000.-</p>
                </div>
              </div>
            </div>
            <div class="col-auto propiedad__item">
              <div class="card text-center text-bg-light border-secondary mb-3" style="width: 30rem; height: 48rem;">
                <img src="../img/casa-alquiler1.jpg" class="card-img-top" alt="Imagen de casa.">
                <div class="card-body">
                  <h2 class="card-title">Departamento con cochera en alquiler en Haedo</h2>
                  <p class="card-text" >Departamento con cochera. 3 ambientes, 2 baños, balcón con parrilla.</p>
                </div>
                <div class="card-footer">
                  <p class="text-muted">Alquiler mensual $98.500.-</p>
                </div>
              </div>
            </div>
            <div class="col-auto propiedad__item">
              <div class="card text-center text-bg-light border-secondary mb-3" style="width: 30rem; height: 48rem;">
                <img src="../img/casa-alquiler5.jpg" class="card-img-top" alt="Imagen de casa.">
                <div class="card-body">
                  <h2 class="card-title">Departamento en alquiler en San Justo</h2>
                  <p class="card-text" >Departamento ubicada a metros de la plaza. 2 ambientes. El edificio cuenta con sum y gimnasio.</p>
                </div>
                <div class="card-footer">
                  <p class="text-muted">Alquiler mensual $41.000.-</p>
                </div>
              </div>
            </div>
          </div>
        </section>
    </main>
    <footer>
        <section>
          <ul>
            <li>
              <a href="https://es-la.facebook.com/">
                <span class="iconify" data-icon="carbon:logo-facebook" data-width="30">
                </span>
              </a> 
            </li>
            <li>
              <a href="https://www.youtube.com/">
                <span class="iconify" data-icon="carbon:logo-youtube" data-width="30">
                </span>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <span class="iconify" data-icon="carbon:logo-instagram" data-width="30">
                </span>
              </a>
            </li>
          </ul> 
        </section>
        <p>Derechos reservados Juan Pablo Propiedades 2022 <span class="iconify" data-icon="icon-park-outline:handle-c"></span></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>  
</body>
</html>