<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JP Propiedades | Comprar</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../img/favicon.jpg">
</head>
<body>
    <header>
        <nav class="menu">    
            <a class="menu__logo" href="../index.html"><img src="../img/logo.JPG" alt="Imagen del logo Juan Pablo Propiedades" width="100%">
            </a>
            <ul>
                <li><a class="menu__link" href="../index.html">Home</a>
                </li>
                <li><a class="menu__link" href="./comprar.html">Comprar</a>
                </li>
                <li><a class="menu__link" href="./vender.html">Vender</a>
                </li>
                <li><a class="menu__link" href="./alquilar.html">Alquilar</a>
                </li>
                <li><a class="menu__link" href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>    
    </header>
    <main>
        <h1>Propiedades en Venta</h1> 
        <section class="propiedad">
            <div class="propiedad__item">
                <h2>Casa en venta en country La Esperanza</h2>
                <p>Excelente propiedad en country de categoría. Cuenta con 4 habitaciones, 3 baños, piscina y jacuzzi.</p>
                <img src="../img/casa-venta1.jpg" alt="La imagen de una casa de 2 plantas con piscina en el parque." width="95%">
            </div>
            <div class="propiedad__item">
                <h2>Casa en venta en country La Tradición</h2>
                <p> Excelente propiedad en country de categoría. Cuenta con 4 habitaciones, 3 baños, piscina y jacuzzi.</p>
                <img src="../img/casa-venta2.jpg" alt="Imagen de casa.">
            </div>    
            <div class="propiedad__item">    
                <h2>Casa en venta en country La Ciudad</h2>
                <p> Excelente propiedad en country de categoría. Cuenta con 4 habitaciones, 3 baños, piscina y jacuzzi.</p>
                <img src="../img/casa-venta3.jpg" alt="Imagen de casa.">
            </div>
            <div class="propiedad__item">    
                <h2>Casa en venta en country La Tradición</h2>
                <p>Excelente propiedad en country de categoría. Cuenta con 4 habitaciones, 3 baños, piscina y jacuzzi.</p>
                <img src="../img/casa-venta4.jpg" alt="Imagen de casa.">
            </div>
            <div class="propiedad__item">    
                <h2>Departamento en venta en Morón</h2>
                <p>Departamento de categoría. 3 ambientes. Balcón con parrilla.</p>
                <img src="../img/casa-venta5.jpg" alt="Imagen de casa.">
            </div>
            <div class="propiedad__item">    
                <h2>Departamento cochera en venta en Ramos Mejía</h2>
                <p>Departamento con cochera. Zona centro. 3 ambientes. Sum y piscina compartida.</p>
                <img src="../img/casa-venta6.jpg" alt="Imagen de casa.">
            </div>
        </section>
    </main>
    <footer>
        <section>
            <p class="centrar">
                <span class="iconify" data-icon="carbon:logo-facebook" data-width="30"></span>
                <span class="iconify" data-icon="carbon:logo-youtube" data-width="30"></span>
                <span class="iconify" data-icon="carbon:logo-instagram" data-width="30"></span>
            </p>
        </section>
        <p>Derechos reservados Juan Pablo Propiedades 2022 <span class="iconify" data-icon="icon-park-outline:handle-c"></span></p>
    </footer>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</body>
</html>