<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JP Propiedades | Contacto</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../img/favicon.jpg">
</head>
<body>
    <header>
        <nav class="menu">    
            <a class="menu__logo" href="../index.html"><img src="../img/logo.JPG" alt="Imagen del logo Juan Pablo Propiedades" width="100%">
            </a>
            <ul>
                <li><a class="menu__link" href="../index.html">Home</a>
                </li>
                <li><a class="menu__link" href="./comprar.html">Comprar</a>
                </li>
                <li><a class="menu__link" href="./vender.html">Vender</a>
                </li>
                <li><a class="menu__link" href="./alquilar.html">Alquilar</a>
                </li>
                <li><a class="menu__link" href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>    
    </header>
    <main>
        <div class="fondo-contacto borde-redondeado">
            <form class="centrar" action=""method="post">
                <label class="etiqueta" for="Nombre">Nombre y Apellido</label>
                <input type="text" class="campo" name="nombre"placeholder="Nombre y Apellido">
                <label for="Email">Email</label>
                <input type="email" class="campo" name="Email"placeholder="Email">
                <label for="Telefono">Teléfono</label>
                <input type="tel" class="campo" name="Telefono"placeholder="Teléfono">
                <label for="Comentarios">Comentarios</label>
                <textarea class="campo" name="Comentarios" cols="30" rows="5" placeholder="Comentarios"></textarea>
                <section class="boton">
                    <input type="submit"value="Enviar" class="btn">
                    <input type="reset"value="Borrar" class="btn">
                </section>
            </form>
        </div>
    </main>    
    <footer>
        <section>
            <p class="centrar">
                <span class="iconify" data-icon="carbon:logo-facebook" data-width="30"></span>
                <span class="iconify" data-icon="carbon:logo-youtube" data-width="30"></span>
                <span class="iconify" data-icon="carbon:logo-instagram" data-width="30"></span>
            </p>
        </section>
        <p>Derechos reservados Juan Pablo Propiedades 2022 <span class="iconify" data-icon="icon-park-outline:handle-c"></span></p>
    </footer>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</body>
</html>