/* Footer */

footer{
    font-family: $font-title;
    background-color: #c7c7c7;
    text-align: center;
    padding: 10px;

    section ul{
        justify-content: center;
        list-style-type: none;
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
        
        a {
            color: $color-primary;
            &:hover{
                color: $color-alternative-s; 
            }
        }
    }
    
    p{
        font-size: $text-xsmall;
        text-align: right;
        max-width: 1200px;
        margin: 0 auto;
    }
}


