/* Comprar */

.ventas{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    .ventas__item{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: auto;
        margin: 15px auto;
        background-color: hsla(203, 19%, 30%, 0.055);
        img{
            width: 95%;
        }
        p{
            text-align: center;
        }
        .ventas__item__precio{
            font-size: $text-medium;
            font-weight: 400;
        }
        .ventas__item__descripcion{
            font-size: $text-base;
            height: 250px;
            overflow: auto;
        }
        .ventas__item__datos{
            font-size: $text-small;
        }
    }
}

.propiedad-vendida{
    @include flex (row, center, center, 3px);

    .propiedad-vendida-item{
        @include flex (column, center, center, 1px);
        margin: 20px auto;
        transition: transform 0.6s;

        &:hover{
            transform: scale(1.02);
        }

        p{
            font-weight: 300;
            text-align: center;
        }

        img{
            width: 85%;
            border-radius: 3px;
            box-shadow:
            0px 0px 5.7px rgba(0, 0, 0, 0.025),
            0px 0px 14.5px rgba(0, 0, 0, 0.035),
            0px 0px 29.6px rgba(0, 0, 0, 0.045),
            0px 0px 61px rgba(0, 0, 0, 0.055),
            0px 0px 167px rgba(0, 0, 0, 0.08); 
        }
    }
}