/* Normalize */

$theme: "light";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* Apariencia de texto e imagenes */

body{
    font-family: $font-principal;
    @if $theme == "dark" {
        background-color: $color-alternative-s;
        color: $color-base;
    } @else {
        background-color: $color-base;
    }
}

main{
    padding: 0 10px 5px 10px;
}

.centrar{
    text-align: center;
}

.borde-redondeado{
    border-radius: 5px;
}

h1{
    color: $color-primary;
    font-family: $font-title;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.082);
    margin: 15px auto;
    padding: 7px 0;
    max-width: 1200px;
    font-size: 30px;
    box-shadow:
    0px 0px 5.7px rgba(0, 0, 0, 0.025),
    0px 0px 14.5px rgba(0, 0, 0, 0.035),
    0px 0px 29.6px rgba(0, 0, 0, 0.045),
    0px 0px 61px rgba(0, 0, 0, 0.055),
    0px 0px 167px rgba(0, 0, 0, 0.08);
}

h2{
    color:#795948;
    font-size: $text-medium;
    text-align: center;
}
p{
    font-weight: 300;
    font-size:$text-base;
}


/* Correciones de bootstrap */

.img-fluid {
    width: 50%;
}