/* Colors */
$color-primary: #3e505b;
$color-secondary: #c7c7c7; 
$color-base: #f0ffff;

/* Spacings */ 
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/*Font-Family */ 
$font-principal: 'Josefin Sans', sans-serif;
$font-title: 'Roboto Slab', serif;

/* Font-Sizes */ 
$text-large: 3em;
$text-medium: 2.5em;
$text-base: 2em;
$text-small: 1.2em;