/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Colors */
$color-primary: #3e505b;
$color-secondary: #B9BAA3;
$color-alternative: #0E5748;
$color-alternative-s: #0D1F22;
$color-base: #F4F7F5;

/* Spacings */ 
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/* MAPS CON ESPACIADOS */

$espaciados:(
    espaciado-largo:10rem,
    espaciado-medio:5rem,
    espaciado-corto:2rem,
);
@each $key, $val in $espaciados {
    .#{$key} {
        padding: #{$val};
    }
}

/* Font-Family */ 
$font-principal: 'Josefin Sans', sans-serif;
$font-title: 'Roboto Slab', serif;

/* Font-Sizes */ 
$text-large: 3em;
$text-medium: 2.5em;
$text-base: 2em;
$text-small:1.5em;
$text-xsmall: 1.2em;